.item {
    display: flex;
    flex-direction: column; /* Ensure the item is vertically aligned */
    align-items: flex-start;
    padding: 1rem;
    background: var(--white);
    margin-bottom: 1.5rem;
    border-radius: 4px;
}

.item:last-child {
    margin-bottom: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ensure header takes up the full width of the item */
    align-items: center;
    margin-bottom: 0.5rem; /* Add space between title and content */
}

.title {
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--black-2);
}

.svgBox {
    flex-basis: 25px;
    flex-shrink: 0;
    height: 25px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s ease background-color;
}

.svgBox:hover {
    background-color: var(--grey-2);
}

.svgBox svg {
    width: 100%;
    height: 100%;
    stroke: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texts {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.time {
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: -0.2rem;
    color: var(--black-2);
}


.icon {
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: var(--gray-1);
    color: var(--black-2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease background-color;
}

.icon:hover {
    background-color: var(--gray-2);
}

.actions {
    display: flex;
    gap: 1rem;
    align-items: center;
}
